<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="inputSelecionarCliente" class="control-label">Name</label>
		<div class="">
			<input type="text" class="form-control boxed-input" id="inputSelecionarCliente" value="John">
		</div>
	</div>
</div>